html {
    scroll-behavior: smooth
}

body {
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: #2A2C28;
    background-image: url(images/background.png);
    background-size: cover;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: auto;
    line-height: 1.6rem;
    margin: 0;
    width: auto;
}

a:link, a:visited {
    color: white;
    cursor: auto;
    scroll-behavior: smooth;
    text-decoration: none;
}

a:link:active, a:visited:active {
    color: white;
    scroll-behavior: smooth;
}

a:hover {
    color: #2A2C28;
}

#navbar {
    background-color: #B73225;
    color: white;
    display: flex;
    padding: 10px 10px;
    position: fixed;
    top: 0%;
    width: 100%;
}

#navbar ul {
    display: inline;
    flex: auto;
    padding: 0;
}

#navbar li {
    display: inline;
    flex: 1;
    font-size: 25px;
    padding-right: 1%;
    text-decoration: none;
}

.profile {
    align-items: center;
    font-size: 150%;
    margin: 8% 0%;
    text-align: center;
    width: auto;
}


.profile img {
    border-radius: 50%;
    height: 300px;
    margin-top: 10px;
    object-fit: cover;
    width: 300px;
}

.profile p {
    padding: 0% 35%;
    text-align: justify;
    text-justify: inter-word;
}

.profile button {
    background: #B73225;
    border: #B73225;
    border-radius: 25px;
    color: white;
    font-size: 40px;
    height: 60px;
    width: fit-content;
}

.about-me {
    align-items: center;
    background-color: #3D516A;
    display: flex;
    justify-content: space-between;
    margin: 5% 0%;
}

.about-me #about-me-photo {
    flex: 1;
    left: 0;
    padding: 5% 10%;
    position: relative;
    top: 0;
    width: auto;
}

.about-me #about-me-photo img {
    left: 0;
    position: relative;
    top: 0;
}
.about-me #about-me-photo div {
    background-color: #B73225;
    border-color: #B73225;
    color: #B73225;
    height: 60%;
    left: 20%;
    position: absolute;
    top: 25%;
    width: 55%;
}

.about-me #about-me-description {
    flex: 1;
    flex-basis: 50%;
    padding: 2%;
}

.about-me #about-me-description h1 {
    font-size: 400%;
    text-align: center;
}

.about-me #about-me-description p {
    font-size: 200%;
    line-height: 1.0;
    text-indent: 50px;
}

.title {
    font-size: 400%;
    padding-top: 2%;
    text-align: center;
}

.section-container {
    align-items: center;
    background-color: #88251C;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: auto;
}

.section-container #section-photo {
    flex: 1;
    padding: 2% 5%
}

.section-container #section-photo img {
    width: 30rem;
}

.section-container #section-description {
    flex: 4;
    margin: 0%;
    padding: 0%;
}

.section-container p {
    font-size: 150%;
    line-height: 1.5;
    margin: 0;
    padding: 5px;
}

.section-container #section-title {
    font-size: 200%;
    font-weight: bold;
}

.section-container #learned-skills {
    display: inline;
    flex: auto;
    list-style: none;
    padding: 0;
}

.section-container #skill {
    background-color: rgb(117, 141, 170);
    border-color: rgb(117, 141, 170);
    border-radius: 25px;
    color: white;
    display: inline;
    padding: 5px;
}

.section-container #section-button button {
    background: #3D516A;
    border: #3D516A;
    border-radius: 25px;
    color: white;
    font-size: 40px;
    height: 60px;
    margin-right: 5px;
    width: fit-content;
}

.leader-description {
    font-size: 150%;
    line-height: 1.5;
    margin: 0;
    padding: 5px;
}

.leader-description #section-title {
    font-size: 200%;
    font-weight: bold;
}

.leader-photo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.leader-photo img {
    padding: 2%;
    width: 30rem;
}

.scroll-awards {
    overflow: auto;
    white-space: nowrap;
}

.award-container {
    background-color: #B73225;
    border-color: #B73225;
    display: inline-block;
    margin: 0% 2%;
    text-align: center;
    width: fit-content;
}

.award-container h1 {
    margin: 0;
    padding: 0;
}

.award-description {
    font-size: 150%;
}

.award-description img {
    width: 20rem;
}

.media {
    background-color: white;
    left: 0;
    padding: 0% 0.5%;
    position: fixed;
    top: 50%;
    width: fit-content;
}

.media #media-container {
    display: block;
}

.media #media-container img {
    display: block;
    margin: 0;
    padding-bottom: 1rem;
    width: 3rem;
}


.section-skills ul {
    text-align: center;
}

.section-skills li {
    align-content: center;
    display: inline-block;
    font-size: 175%;
    text-decoration: none;
}

.container {
    background: #C4C4C4;
    border-radius: 3px;
    display: inline-block;
    height: 2rem;
    margin-left: 2rem;
    text-align: left;
    width: 35rem;
}

.bar-skills{    
    background: #FF7B6F;
    border-color: 1px solid #FF7B6F;
    float: left;
    height: 2rem;

}

.contact-container {
    align-items: center;
    background-color: #3D516A;
    justify-content: space-between;
    margin-top: 5%;
    width: 100%;
}

.contact-container h2 {
    font-size: 100%;
    text-decoration: none;
}

.contact-container ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.contact-container li {
    align-content: center;
    display: inline-block;
    font-size: 100%;
    text-decoration: none;
}

.contact-container img {
    display: block;
    margin: 0;
    padding-bottom: 1rem;
    width: 3rem;
}
